.cardBox {
    height: 230px;
    width: 300px;
    background-color: white;
    box-shadow: 2px 4px 7px 1px rgba(215, 215, 215, 0.8);
    border-radius: 16px;
    overflow: hidden;
    display: grid;
}

.cardTitle {
    padding: 8px;
    font-size: 30px;
}

.titleContainer {
    height: 46px;
    width: 100;
    justify-content: center;
    align-items: center;
}